@model IEnumerable<Dish>
@{
    ViewData["Title"] = "Menu";
}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8"></div>
            
        </div>
        <div class="container mt-5">
            <div class="row">
            
                <div class="col-12 col-md-8"></div>
                <div class="col-6 col-md-4">

                
                </div>
                @foreach(var item in Model)
                    {
                        <div class="col-md-4">

                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 350px; width: 350px; display: block;" src="@item.Image" data-holder-rendered="true">
                                <div class="card-body">
                                    <p class="card-text">@item.Name</p>
                                    <p class="card-text">@item.Price Руб</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a class="btn btn-sm btn-outline-primary" asp-area=" " asp-controller="Menu" asp-action="AddToCart" asp-route-id="@item.Id" >В корзину</a>
                                    }
                                            <a class="btn btn-sm btn-outline-primary" asp-area="" asp-controller="Menu" asp-action="DishDetail" asp-route-id="@item.Id">Подробнее</a>
                                    
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                    {
                                        <a class="btn btn-sm btn-outline-secondary" asp-area="" asp-controller="Menu" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                                    } 

                                    </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                   
            </div>
        </div>
    </div>
